//- 
    To change this license header, choose License Headers in Project Properties.
    To change this template file, choose Tools | Templates
    and open the template in the editor.
     

.container
    table.table
        thead
            tr
                th Title
        tbody
            tr(ng-repeat = "course in user.myCourses")
                td {{ course }}
//        tbody(ng-repeat = "course in courses")
//            tr(ng-if ="findValue()" )
//                td {{ course.title }}
