//- 
    To change this license header, choose License Headers in Project Properties.
    To change this template file, choose Tools | Templates
    and open the template in the editor.
     

doctype
html
   
    head
        title OpenLearning
        base(href="/")
        link(href="/favicon.ico",rel="shortcut icon", type="image/x-icon")
        link(rel='stylesheet', href="/css/bootstrap.css")
        link(rel='stylesheet',href="/vendor/toastr/toastr.css")
        link(rel='stylesheet',href="/css/site.css")
        
    body(ng-app = 'app')
        include currentUser
        block main-content
           
        include scripts