//- 
    To change this license header, choose License Headers in Project Properties.
    To change this template file, choose Tools | Templates
    and open the template in the editor.
     

.panel.panel-primary
    .panel-heading.text-center Top Specializations
    .panel-body
        .row(ng-repeat="course in courses | filter:{featured: true}")
            .col-md-12 
                a(href="/courses/{{course._id}}") {{ course.title }}