//- 
    To change this license header, choose License Headers in Project Properties.
    To change this template file, choose Tools | Templates
    and open the template in the editor.
     


.container
    .jumbotron
        h1 OpenLearning
        P Take greate online courses from any where in the world
        p Build your future. Join us today
    
    .col-md-6
        div(ng-include="'/partials/main/featured-courses'")
    .col-md-6
        div(ng-include="'/partials/main/new-courses'")
    .col-md-6
        div(ng-include="'/partials/main/cs-courses'")
    .col-md-6
        div(ng-include="'/partials/main/business-courses'")